<!DOCTYPE html>
<html>
<head>
    <title>Berlin-Bitcoin</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,300italic' rel='stylesheet' type='text/css'>

</head>

<body>

<div id="jumbotron">
    <div id="fb-root"></div>
     <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<!-- Content/ Header -->
<header>
  <br>
  <br>
  <h1>Welcome to Berlin</h1>
  <%= image_tag("BerlinLogo.png") %>

    <h2>Tired of monthly premiums?</h2>
    <h2>Pay <em>only</em> for what you use. </h2>
    <h3>Starting at $0.01</h3>

  <div class="wrapper">
<%= link_to '<button type="button">Get Started</button>'.html_safe, 'signup', :method => :get %>

  </div>
  </div>
  <br>
</header>



<!--
 // Below we include the Login Button social plugin. This button uses
 // the JavaScript SDK to present a graphical Login button that triggers
 // the FB.login() function when clicked.
-->




<div id="status">
</div>


</body>
</html>
