// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */

$font-stack: 'helvetica neue', sans-serif;
$berlinLogo: url('BerlinLogo.png');


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
  background-image: radial-gradient(91% 186%, #ABD4F6 100%, #72A9EA 100%);
  background: #F4612E;


  header {
    h1 {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 30px;
  color: #4A4A4A;
  line-height: 14px;
  text-align: center;
  /*text-shadow: 0px 1.5px 2px rgba(0,0,0,0.50);*/
  padding-bottom: 65px;
  padding-top: 50px;
  }
}

.subheader {
  text-align:center;
}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
/* Styles */

body {
    background-image: radial-gradient(91% 186%, #ABD4F6 100%, #72A9EA 100%);
}

header {
  background-image: $berlinLogo;
  height: 700px;
  overflow: auto;
  background-position: 100% 120px;
  background-repeat: no-repeat;
  text-align: center;
   h1 {
      font-family: $font-stack;
      font-weight: 300;
      font-size: 72px;
      color: #4A4A4A;
      line-height: 14px;
      text-align: center;
      padding-top: 50px;
    }

   h2 {
      font-family: $font-stack;
      font-weight: 300;
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 0.06px;
      line-height: 10px;
      text-shadow: 0px 1.5px 2px rgba(0,0,0,0.50);
      text-align: center;
    }
    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.06px;
      line-height: 10px;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
      text-align: center;

    }
}
      button {
        position: absolute;
        margin: auto;
        border: 0;
        cursor: pointer;
        border-radius: 5px;
        padding: 9px 40px;
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.50);
        -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
        /*textarea*/
        color: #ffffff;
        font-family: "Helvetica Neue", "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        background: #F4612E; /*the colour of the button*/
      }
      button:hover {
        background: #E15321;
      }

      .wrapper {
        text-align: center;
      }


}




/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
