$font-stack: 'helvetica neue', sans-serif;
$base-color: #ffffff;

div#dashboard{
	font-family: $font-stack;
	color: $base-color;
	text-align: center;
}
div#login-button{
	text-align: center;
}

div#transaction-history{
	text-align: center;
}
